.admin-container {
    display: flex;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: black;
  }
  
  .admin-sidebar {
    width: 250px;
    background-color: #343a40;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .admin-sidebar h3 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .admin-sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  .admin-sidebar ul li {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .admin-sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .admin-sidebar ul li a:hover,
  .admin-sidebar ul li a.active {
    background-color: #007bff;
    color: white;
  }
  
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    background-color: black;
  }
 


.masked-text {
  font-size: 8rem;
  font-weight: bold;
  color: transparent;
  background-image: url('https://images.unsplash.com/photo-1732535725600-f805d8b33c9c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
  background-size: 200%; /* Enlarged for smooth animation */
  background-position: 0 50%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-background 5s infinite alternate linear;
}

@keyframes animate-background {
  0% {
      background-position: 0 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

