<!-- <div class="admin-container">
    <nav class="admin-sidebar">
      <h3>Admin Panel</h3>
      <ul>
        <li><a routerLink="/admin/dashboard" href="/dashboard">Dashboard</a></li>
        <li><a routerLink="/admin/product" href="/product">Manage Products</a></li>
        <li><a routerLink="/admin/categories" href="/categories">Manage Categories</a></li>
        <li><a routerLink="/admin/orders" href="/orders">View Orders</a></li>
      </ul>
    </nav>
    
    <div class="admin-content">
    </div>
  </div> -->

  
  <div class="admin-container">
    <nav class="admin-sidebar">
      <div><img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo"></div>
      <h3>Admin Panel</h3>
      <ul>
        <li><a routerLink="/product" href="/product">Manage Products💍</a></li>
        <li><a routerLink="/userdetails" href="/userdetails">User Details👩‍❤️‍👩</a></li>
        <li><a routerLink="/orders" href="/orders">View Orders🎁</a></li>
        <li><a routerLink="/paymentdetails" href="/paymentdetails">Payment Details💵</a></li>
      </ul>
      <button class="btn btn-danger" routerLink="/login">Logout</button>
    </nav>
    
    <div> <div class="masking-container text-center">
      <h1 class="masked-text">ORNA</h1>
    </div> <img src="https://content.jdmagicbox.com/v2/comp/hyderabad/e4/040pxx40.xx40.211021180507.j1e4/catalogue/vega-sri-gold-and-diamonds-jubilee-hills-hyderabad-gold-jewellery-showrooms-xgs0s7s01b.jpg" height="440" width="1025">
    </div>
  </div>
  
  
